<br />
<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  class="w-75 my-2 mx-auto border rounded p-4"
>
  <h3>Create a blog</h3>

  <!-- title  -->
  <div class="form-group d-flex align-items-center">
    <label for="title" class="mr-4 mt-2">Title</label>
    <input
      type="text"
      name="title"
      [(ngModel)]="title"
      class="form-control"
      placeholder="Title"
      required
    />
  </div>

  <!-- description  -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      type="text"
      class="form-control"
      name="description"
      [(ngModel)]="description"
      placeholder="Description"
      rows="5"
      required
    ></textarea>
  </div>

  <button
    type="submit"
    [disabled]="!f.valid"
    class="btn btn-primary float-right"
    [ngStyle]="{ 'curson: disabled': !f.valid }"
  >
    Create
  </button>
  <button
    type="submit"
    class="btn btn-light float-right mx-3 border"
    (click)="cancel()"
  >
    Cancel
  </button>
  <div style="clear: both"></div>
</form>
